<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Burti</title>
</head>
<body class="bg-gray-200 w-screen h-screen">
<section class="relative mx-auto w-fit">
     <nav class="flex justify-between bg-cyan-800 text-white w-screen">
        <div class="px-5 xl:px-12 py-2 flex w-full items-center">
            <div class="flex items-center space-x-36">
                <a class="text-3xl font-bold font-heading" href="/">
                    <img alt="Burti" id="logo" class="lazyloaded w-26 h-16"
                         src="https://burti.lv/wp-content/uploads/2022/10/Burti_LOGO_pamata-1.png">
                </a>
            </div>
        </div>
    </nav>
</section>
<div>
    {% for item in items %}
        {{ item.code }}
        {{ item.description }}
        {% for variety in item.varieties %}
            {{ variety.code }}
            {{ variety.description }}
            {% for option in variety.options %}
                {{ option.code }}
                {{ option.description }}
                {% endfor %}
        {% endfor %}
    {% endfor %}
</div>
</body>
</html>